<section class="section" id="about-me">
    <div class="container about-me-container">
        <h2 class="visually-hidden">About me</h2>
        <div class="about-intro-text">
            <h3 class="intro-text">
                I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
                <span class="highlight-red">FUNCTIONAL</span>
                <span class="highlight-grey">WEBSITES</span>
                THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
            </h3>
        </div>
        <div class="about-intro-img">
            <picture>
                <source srcset="
            ./img/about/about-desk1x.jpg 1x,
            ./img/about/about-desk1x.jpg 2x
          " media="(min-width: 1440px)" />

                <source srcset="
            ./img/about/about-tab1x.jpg 1x,
            ./img/about/about-tab1x.jpg 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./img/about/about-mob1x.jpg 1x,
            ./img/about/about-mob1x.jpg 2x
          " media="(max-width: 767px)" />
                <img class="about-me-img" src="../img/about/about-mob1x.jpg" alt="men" />
            </picture>
        </div>
    </div>
    <div class="container accordion-container">
        <ul class="accordion">
            <li class="ac-item">
                <div class="ac-box">
                    <h3 class="ac-header">ABOUT ME</h3>
                    <button class="ac-trigger" type="button">
                        <svg class="icon-arrow" width="18" height="18">
                            <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </button>
                </div>
                <div class="ac-panel">
                    <div class="ac-panel-summary">
                        <p class="ac-text">
                            I am Lloyd Jefferson, a talented programmer with extensive
                            expertise in software development. I have an understanding of
                            different programming languages and technologies, always ready to
                            improve my skills. I always follow the latest trends and look for
                            unconventional, creative solutions to problems. I have a high
                            level of analytical skills and am able to effectively solve even
                            the most difficult tasks encountered on the way.
                        </p>
                        <p class="ac-text">
                            Able to work both independently and in a team. I can effectively
                            cooperate with colleagues, exchanging ideas and finding optimal
                            solutions. Professional maturity allows you to calmly cope with
                            challenges and stressful situations, while maintaining a high
                            quality of work.I am always looking for opportunities for
                            self-improvement. I actively study new technologies and practices
                            to stay abreast of the latest innovations. I have a strong
                            understanding of various programming languages, frameworks and
                            architectural concepts that allow me to create efficient and
                            scalable software.
                        </p>
                    </div>
                </div>
            </li>
            <li class="ac-item">
                <div class="ac-box">
                    <h3 class="ac-header">ROLE</h3>
                    <button class="ac-trigger" type="button">
                        <svg class="icon-arrow" width="18" height="18" border-radius="50%">
                            <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </button>
                </div>
                <div class="ac-panel">
                    <ul class="list-role">
                        <li>
                            <p>Frontend development</p>
                        </li>
                        <li>
                            <p>HeadlessCMS,Wordpress</p>
                        </li>
                        <li>
                            <p>Blender(enjoy)</p>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="ac-item">
                <div class="ac-box">
                    <h3 class="ac-header">EDUCATION</h3>
                    <button class="ac-trigger" type="button">
                        <svg class="icon-arrow" width="18" height="18">
                            <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </button>
                </div>
                <div class="ac-panel">
                    <ul class="list-ed">
                        <li>
                            <p>
                                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                                York
                            </p>
                        </li>
                        <li>
                            <p>
                                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                                School, New York
                            </p>
                        </li>
                        <li>
                            <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="about-wrapper container">
        <div class="about-swiper">
            <div class="about-swiper-wrapper swiper-wrapper">
                <div class="about-swiper-slide swiper-slide accent-color">
                    <div class="swiper-slide-title">
                        <p>HTML/CSS</p>
                    </div>
                </div>
                <div class="about-swiper-slide swiper-slide">
                    <p class="swiper-slide-title">JavaScript</p>
                </div>
                <div class="about-swiper-slide swiper-slide">
                    <div class="swiper-slide-title">
                        <p>React</p>
                    </div>
                </div>
                <div class="about-swiper-slide swiper-slide">
                    <div class="swiper-slide-title">
                        <p>Node.js</p>
                    </div>
                </div>
                <div class="about-swiper-slide swiper-slide">
                    <div class="swiper-slide-title">
                        <p>React Native</p>
                    </div>
                </div>
                <div class="about-swiper-slide swiper-slide">
                    <div class="swiper-slide-title">
                        <p>Soft skills</p>
                    </div>
                </div>
            </div>

        </div>
        <button class="button-next" type="button">
            <svg class="icon-next" width="18" height="18">
                <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
</section>