<section class="about-me" id="about">
    <div class="container about-me-container">
        <h2 class="visually-hidden">About me</h2>
        <div>
            <p class="intro-text">
                I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
                <span class="highlight-red">FUNCTIONAL</span>
                <span class="highlight-grey">WEBSITES</span>
                THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
            </p>
        </div>
        <div>
            <picture>
                <source srcset="
                    ./img/about/about-desk@1x.jpg, 
                    ./img/about/about-desk@2x.jpg" 
                    media="(min-width: 1440px)" />
                <source srcset="
                    ./img/about/about-desk@1x.jpg, 
                    ./img/about/about-desk@2x.jpg" 
                    media="(min-width: 1280px)" />
                <source srcset="
                    ./img/about/about-tab@1x.jpg, 
                    ./img/about/about-tab@2x.jpg" 
                    media="(min-width: 768px)" />
                <source srcset="
                    ./img/about/about-tab@1x.jpg, 
                    ./img/about/about-tab@2x.jpg" 
                    media="(max-width: 767px)" />
                <img class="about-me-img" src="./img/about/about-mob@2x.jpg" alt="men" />
            </picture>
        </div>
    </div>
    <div class="container accordion-container">
        <div class="ac">
            <h2 class="ac-header">ABOUT ME</h2>
            <button type="button" class="ac-trigger">
                <svg class="arrow-down" width="36" height="36">
                    <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                </svg>
            </button>
            <div class="ac-panel">
                <p class="ac-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of
                different programming languages and technologies, always ready to improve my skills. I always follow the latest trends
                and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to
                effectively solve even the most difficult tasks encountered on the way.
                </p>
                <p class="ac-panel">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding
                optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while
                maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new
                technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various
                programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
                </p>
            </div>
        </div>
    
        <div class="ac">
            <h2 class="ac-header">
                <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
            </h2>
            <div class="ac-panel">
                <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    
        <div class="ac">
            <h2 class="ac-header">
                <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
            </h2>
            <div class="ac-panel">
                <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

</section>

