<section class="section about-me-section" id="about">
    <div class="container about-me-container">
        <h2 class="visually-hidden">About me</h2>
        <div class="about-intro-text">
            <p class="intro-text">
                I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
                <span class="highlight-red">FUNCTIONAL</span>
                <span class="highlight-grey">WEBSITES</span>
                THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
            </p>
        </div>
        <div class="about-intro-img">
            <picture>
                <source srcset="
                    ./img/about/about-desk@1x.jpg, 
                    ./img/about/about-desk@2x.jpg" 
                    media="(min-width: 1440px)" />
                <source srcset="
                    ./img/about/about-desk@1x.jpg, 
                    ./img/about/about-desk@2x.jpg" 
                    media="(min-width: 1280px)" />
                <source srcset="
                    ./img/about/about-tab@1x.jpg, 
                    ./img/about/about-tab@2x.jpg" 
                    media="(min-width: 768px)" />
                <source srcset="
                    ./img/about/about-tab@1x.jpg, 
                    ./img/about/about-tab@2x.jpg" 
                    media="(max-width: 767px)" 
                />
                <img 
                class="about-me-img" 
                src="./img/about/about-mob@1x.jpg" 
                alt="men" 
                />
            </picture>
        </div>
    </div>
    <div class="container accordion-container">
        <div class="ac">
            <div class="ac-box">
                <h2 class="ac-header">ABOUT ME</h2>
                <button type="button" class="ac-trigger">
                    <svg class="arrow-down" width="36" height="36">
                        <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="ac-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of
                different programming languages and technologies, always ready to improve my skills. I always follow the latest trends
                and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to
                effectively solve even the most difficult tasks encountered on the way.
                </p>
                <p class="ac-panel">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding
                optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while
                maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new
                technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various
                programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
                </p>
            </div>
        </div>
    
        <div class="ac">
            <div class="ac-box">
                <h2 class="ac-header">ROLE</h2>
                <button type="button" class="ac-trigger">
                    <svg class="arrow-down" width="36" height="36" border-radius="50px">
                        <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <ul>
                    <li>
                        <p>Frontend development</p>
                    </li>
                    <li>
                        <p>HeadlessCMS,Wordpress</p>
                    </li>
                    <li>
                        <p>Blender(enjoy)</p>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="ac">
            <div class="ac-box">
                <h2 class="ac-header">EDUCATION</h2>
                <button type="button" class="ac-trigger">
                    <svg class="arrow-down" width="36" height="36">
                        <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <ul>
                    <li>
                        <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
                    </li>
                    <li>
                        <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                    </li>
                    <li>
                        <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="swiper">
        
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p class="swiper-slide-title">HTML/CSS</p>
            </div>
            <div class="swiper-slide">
                <p class="swiper-slide-title">JavaScript</p>
            </div>
            <div class="swiper-slide">
                <p class="swiper-slide-title">React</p>
            </div>
            <div class="swiper-slide">
                <p class="swiper-slide-title">Node.js</p>
            </div>
            <div class="swiper-slide">
                <p class="swiper-slide-title">React Native</p>
            </div>
            <div class="swiper-slide">
                <p class="swiper-slide-title">Soft skills</p>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</section>

