<div class="container">
  <section class="benefites-section section" id="benefites">
    <h2 class="benefites-section-title">Benefits of working with me</h2>
    <ul class="benefites-list">
      <li class="benefites-list-item">
        <svg class="benefites-list-icon" width="48" height="48">
          <use href="./img/icons/sprite.svg#icon-expertise"></use>
        </svg>
        <h3 class="benefites-title">Expertise</h3>
        <p class="benefites-description">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="benefites-list-item">
        <svg class="benefites-list-icon" width="48" height="48">
          <use href="./img/icons/sprite.svg#icon-communication"></use>
        </svg>
        <h3 class="benefites-title">Communication</h3>
        <p class="benefites-description">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="benefites-list-item">
        <svg class="benefites-list-icon" width="48" height="48">
          <use href="./img/icons/sprite.svg#icon-art"></use>
        </svg>
        <h3 class="benefites-title">Art</h3>
        <p class="benefites-description">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefites-list-item">
        <svg class="benefites-list-icon" width="48" height="48">
          <use href="./img/icons/sprite.svg#icon-urgent"></use>
        </svg>
        <h3 class="benefites-title">Urgent execution</h3>
        <p class="benefites-description">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
      <li>
        <a class="benefites-btn" href="#work-together"> Order the project </a>
      </li>
    </ul>
  </section>
</div>