<div class="covers-container">
    <section class="covers">
        <h2 class="visually-hidden">Перечень обложек</h2>
        <ul class="covers-list">
            <li class="card finance">
                <img src="../img/covers/finance@1x.jpg" alt="Управляйте своими финансами мастерски!">
                <!-- <h3>Управляйте своими финансами мастерски!</h3> -->
            </li>
            <li class="card watches">
                <img src="../img/covers/watches@1x.png" alt="Добро пожаловать в нашу коллекцию премиальных часов">
                <!-- <h3>Добро пожаловать в нашу коллекцию премиальных часов</h3> -->
            </li>
            <li class="card organic">
                <img src="../img/covers/organic@1x.jpg" alt="Органические овощи в ваш рацион сегодня!">
                <!-- <h3>Органические овощи в ваш рацион сегодня!</h3> -->
            </li>
            <li class="card fitness">
                <img src="../img/covers/fitness@1x.jpg" alt="Приведите тело в форму, оставайтесь здоровыми">
                <!-- <h3>Приведите тело в форму, оставайтесь здоровыми</h3> -->
            </li>
            <li class="card mimino">
                <img src="../img/covers/mimino@1x.jpg" alt="MIMINO">
                <!-- <h3>MIMINO</h3> -->
            </li>
            <li class="card ukrainian">
                <img src="../img/covers/ukrainian@1x.jpg"
                    alt="Возрождение традиционного украинского искусства в каждом стежке">
                <!-- <h3>Возрождение традиционного украинского искусства в каждом стежке</h3> -->
            </li>
            <!-- <li class="card ukrainian">
                <img src="ukrainian.png" alt="Возрождение традиционного украинского искусства в каждом стежке">
                <h3>Возрождение традиционного украинского искусства в каждом стежке</h3>
            </li>
            <li class="card ukrainian">
                <img src="ukrainian.png" alt="Возрождение традиционного украинского искусства в каждом стежке">
                <h3>Возрождение традиционного украинского искусства в каждом стежке</h3>
            </li>
            <li class="card ukrainian">
                <img src="ukrainian.png" alt="Возрождение традиционного украинского искусства в каждом стежке">
                <h3>Возрождение традиционного украинского искусства в каждом стежке</h3>
            </li>
            <li class="card ukrainian">
                <img src="ukrainian.png" alt="Возрождение традиционного украинского искусства в каждом стежке">
                <h3>Возрождение традиционного украинского искусства в каждом стежке</h3>
            </li> -->
        </ul>
    </section>
</div>
<!-- <script src="script.js"></script> -->