<section class="covers-section section" id="covers">
    <div class="covers-container container">
        <h2 class="visually-hidden">Covers</h2>
        <div class="covers-content">
            <div class="marquee">
                <ul class="covers-list">
                    <li class="marquee-inner">
                        <picture class="covers-img">
                            <source srcset="
                    ./img/covers/rectangle-7.webp    1x,
                    ./img/covers/rectangle-7@2x.webp 2x
                  " media="(min-width: 768px)" />
                            <source srcset="
                    ./img/covers/mob_rectangle-7.webp    1x,
                    ./img/covers/mob_rectangle-7@2x.webp 2x
                  " />
                            <img class="cover-item" src="./img/covers/rectangle-7.webp" alt="Mimino" />
                        </picture>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-10.webp    1x,
                    ./img/covers/rectangle-10@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-10.webp    1x,
                    ./img/covers/mob_rectangle-10@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-10.webp"
                                    alt="Transforming your body" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-7.webp    1x,
                    ./img/covers/rectangle-7@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-7.webp    1x,
                    ./img/covers/mob_rectangle-7@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-7.webp" alt="Mimino" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-10.webp    1x,
                    ./img/covers/rectangle-10@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-10.webp    1x,
                    ./img/covers/mob_rectangle-10@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-10.webp"
                                    alt="Transform your body" />
                            </picture>
                        </a>
                    </li>
                    <li class="marquee-inner">
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/first-screen-1.webp    1x,
                    ./img/covers/first-screen-1@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_first-screen-1.webp    1x,
                    ./img/covers/mob_first-screen-1@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/first-screen-1.webp"
                                    alt="Turn your business" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-8.webp    1x,
                    ./img/covers/rectangle-8@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-8.webp    1x,
                    ./img/covers/mob_rectangle-8@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-8.webp"
                                    alt="Trditional Ukrainian artisry" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-11.webp    1x,
                    ./img/covers/rectangle-11@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-11.webp    1x,
                    ./img/covers/mob_rectangle-11@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-11.webp"
                                    alt="Manage your Finances" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/first-screen-1.webp    1x,
                    ./img/covers/first-screen-1@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_first-screen-1.webp    1x,
                    ./img/covers/mob_first-screen-1@2x.webp 2x
                  " />
                                <img class="cover-item" src="../img/covers/first-screen-1.webp"
                                    alt="Turn your business" />
                            </picture>
                        </a>
                    </li>
                    <li class="marquee-inner">
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-9.webp    1x,
                    ./img/covers/rectangle-9@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-9.webp    1x,
                    ./img/covers/mob_rectangle-9@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-9.webp" alt="Organic vegetables" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-4.webp    1x,
                    ./img/covers/rectangle-4@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-4.webp    1x,
                    ./img/covers/mob_rectangle-4@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-4.webp" alt="Stay healthy" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-5.webp    1x,
                    ./img/covers/rectangle-5@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-5.webp    1x,
                    ./img/covers/mob_rectangle-5@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-5.webp" alt="Fresh harvest box" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-9.webp    1x,
                    ./img/covers/rectangle-9@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-9.webp    1x,
                    ./img/covers/mob_rectangle-9@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-9.webp" alt="Organic vegetables" />
                            </picture>
                        </a>
                    </li>
                    <li class="marquee-inner">
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-6.webp    1x,
                    ./img/covers/rectangle-6@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-6.webp    1x,
                    ./img/covers/mob_rectangle-6@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-6.webp" alt="Make up" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-12.webp    1x,
                    ./img/covers/rectangle-12@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-12.webp    1x,
                    ./img/covers/mob_rectangle-12@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-12.webp" alt="Learning English" />
                            </picture>
                        </a>
                        <a class="marquee-line" target="_blank" href="">
                            <picture class="covers-img">
                                <source srcset="
                    ./img/covers/rectangle-6.webp    1x,
                    ./img/covers/rectangle-6@2x.webp 2x
                  " media="(min-width: 768px)" />
                                <source srcset="
                    ./img/covers/mob_rectangle-6.webp    1x,
                    ./img/covers/mob_rectangle-6@2x.webp 2x
                  " />
                                <img class="cover-item" src="./img/covers/rectangle-6.webp" alt="Make up" />
                            </picture>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- <script src="./js/covers.js" type="module"></script> -->