<header class="header container">
    <div class="logo">
        <img src="./img/logo/logo@1x.jpg" alt="Logo">
        <span>jefferson*</span>
    </div>
    <nav class="desktop-nav">
        <div class="menu-container">
            <span class="menu">Menu</span>
            <div class="dropdown">
                <a href="#about-me">About me</a>
                <a href="#benefits">Benefits</a>
                <a href="#projects">Projects</a>
                <a href="#faq">FAQ</a>
            </div>
        </div>
        <a href="#work-together" class="order-btn">Order the project</a>
    </nav>
    <div class="burger-menu">
        <div class="burger-icon"></div>
    </div>
</header>

<div class="mobile-menu">
    <div class="close-icon"></div>
    <a href="#about-me">About me</a>
    <a href="#benefits">Benefits</a>
    <a href="#projects">Projects</a>
    <a href="#faq">FAQ</a>
    <a href="#work-together" class="order-btn">Order the project</a>
</div>