<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Hello.<br>I'm Fullstack Developer<br>Lloyd Jefferson.</h1>
        <div class="contact">
            <ul class="social-links">
                <li><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li><a href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
                <li><a href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
                <li><a href="https://github.com/" target="_blank">GH</a></li>
            </ul>
            <div class="email">
                <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </div>
        </div>
    </div>
</body>
</html>
