<section class="hero-section">
    <div class="container">
        <h1 class="title-name">Hello.<br>I'm Fullstack Developer Lloyd Jefferson.</h1>
        <div class="contact">
            <ul class="social-links">
                <li class="social-link"><a class="text-link" href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li class="social-link"><a href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
                <li class="social-link"><a href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
                <li class="social-link"><a href="https://github.com/" target="_blank">GH</a></li>
            </ul>
            <div class="email">
                <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </div>
        </div>
    </div>
    </section>
