<div class="container-review">
    <section class="section-review">
    <style>
        #not-found {
            display: none;
        }
        .swiper-button-disabled {
            opacity: 0.35;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <h2>Reviews</h2>
    <div class="swiper-container">
        <ul class="swiper-wrapper" id="reviews-list"></ul>
    </div>
    <div id="not-found">Not found</div>
    <div class="navigation-buttons">
        <button class="nav-btn left-btn swiper-button-disabled">
            <svg class="left-arrow">
                <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <button class="nav-btn right-btn">
            <svg class="right-arrow">
                <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    </section>
</div>

