<footer id="work-together">
  <div class="container">
    <div class="work-together">
      <div class="footer-title">
        <div class="image-and-line1">
          <img
            class="profile-picture"
            src="./img/logo/logo.png"
            alt="Profile Picture"
          />
          <div class="line1">
            <h1>LET'S <span class="work">WORK</span></h1>
          </div>
        </div>
        <div class="line2">
          <h1>TOGETHER</h1>
        </div>
      </div>
      <form id="contact-form">
        <div class="input-container">
          <input
            id="email"
            type="email"
            placeholder="clients@gmail.com"
            required
            pattern="^\w+([.-]?\w+)@\w+([.-]?\w+)(\.\w{2,3})+$"
          />
          <span class="input-message" id="email-message"></span>
        </div>
        <div class="input-container">
          <input id="comments" type="text" placeholder="comments" required />
          <span class="input-message" id="comments-message"></span>
        </div>
        <button class="send-btn" type="submit">Send</button>
      </form>
      <div class="contact-info">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        <a href="tel:+380111111111">+380 11 111 11 11</a>
      </div>
    </div>
  </div>
</footer>

<script src="./js/work-together.js" type="module"></script>
