.container.about-me-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.about-intro-text {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: #242527;
    border-radius: 24px;
    padding: 32px;
}

.intro-text {
    text-transform: uppercase;
    color: #FAFAFA;
    height: 196px;
    text-align: left;
    padding: 0px 0px;
}

.highlight-red {
    color: #ED3B44;
    
}

.highlight-grey {
    color: rgba(250, 250, 250, 0.4);
    
}

.section.about-me-section {
    padding-top: 0;
    padding-bottom: 0;
    
}




.about-intro-img{
    width: 100%;
    border-radius: 24px;
}

.about-me-img {
    width: 100%;
    height: auto;
    border-radius: 24px;

}

.ac-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ac-trigger{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-panel{
    display: none;
    padding: 15px 0;
}

.ac-panel-summary{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ac-item{
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.ac-item.active .ac-panel {
    display: block;
}
.ac-item.active .ac-trigger {
    transform: rotate(180deg);
}
ul.list-role li:not(:last-child){
    margin-bottom: 10px;
}

ul.list-ed li:not(:last-child) {
    margin-bottom: 10px;
}


.about-swiper{
    width: 100%;
    height: 130px;
    padding: 20px 0;
    
}

.about-swiper-slide{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid rgba(250, 250, 250, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-swiper-slide.is-active {
    background-color: #ED3B44;
    border: none;
}

.swiper-slide-title{
    color: #FAFAFA;
    text-align: center;
}

.about-swiper-wrapper{
    display: flex;
    align-items: center;

}

.about-swiper-button-next {
    /* color: #FAFAFA; */
    width: 28px;
    height: 28px;
    background-color: inherit;
    border: none;
    /* stroke: rgba(250, 250, 250, 0.2); */
} 

.icon-next{
    fill: rgba(250, 250, 250, 0.2);

}

.icon-arrow{
    border-radius: 50%;
    border: none;

}




@media screen and (min-width: 768px){
    .about-intro-text {
        margin-bottom: 16px;
        width: 100%;
        height: 700px;
        padding: 64px;
    }
    .intro-text {
       font-size: 38px;
       width: 576px;
       line-height: 0.95;
       letter-spacing: -0.03em;
       
    }
    .ac-panel-summary {
            
        gap: 16px;
    }

    .about-swiper {
         width: 100%;
         height: 200px;
         padding: 0;
    
    }

    .about-swiper-slide{
    width: 200px;
    height: 200px;
    
    }
}

@media screen and (min-width: 1440px) {
    .container.about-me-container {
            
        flex-direction: row;
        gap: 16px;
        align-items: start;
        margin-bottom: 96px;
    }

    .about-intro-img {
       height: 700px;    
     }
    
    .about-me-img {
            width: 680px;
            height: 100%;
            
    
    }
    
    .about-intro-text {
        width: 680px;
        height: 700px;
    }

    .container.accordion-container{
        margin-bottom: 96px;
    }

    .ac-panel{
        width: 612px;
        height: 320px;
        align-self: flex-end;
    }

    .ac-item{
        display: flex;
        flex-direction: column;
        padding: 32px;
    
    }

    .ac-panel-summary {
    
        gap: 32px;
    }

    .about-swiper {
         width: 100%;
         height: 200px;
         padding: 0;
    
    }

    .about-swiper-slide{
    width: 200px;
    height: 200px;
    
    }


    .about-swiper-button-next {
    
    width: 40px;
    height: 40px;
    
    } 
}