/* =========== Common styles =========== */

body {
  background-color: #1c1d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #ed3b44;
  --main-text: #fafafa;
}

:root {
  --font-family: 'Inter Tight', sans-serif;
}

/* =========================================================================== */
.container {
  max-width: 375px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.benefites-section-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.benefites-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrap {
  padding: 24px;
}

.benefites-list-item {
  border-radius: 20px;
  background: var(--cards);
  width: 344px;
  height: 270px;
}

.benefites-list-icon {
  margin-bottom: 64px;
}
.benefites-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}
.benefites-description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 296px;
}

.benefites-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .benefites-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    width: 704px;
    height: 556px;
  }

  .benefites-list-item {
    width: calc((100% - 16px) / 2);
    margin: 0;
  }

  .benefites-btn {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .benefites-list {
    margin-left: auto;
    width: 680px;
    height: 556px;
  }

  .benefites-btn {
    margin-left: auto;
  }
}
